HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
org/*
net/*
javax/*
jakarta/*
io/r2dbc/r2dbc-bom/Arabba-SR10/r2dbc-bom-Arabba-SR10.pom.sha1
*.sha1
com/*
junit/junit/4.12/junit-4.12.pom
io/*
*.jar
antlr/antlr/2.7.7/_remote.repositories
antlr/antlr/2.7.7/antlr-2.7.7.pom
aopalliance/aopalliance/1.0/_remote.repositories
aopalliance/aopalliance/1.0/aopalliance-1.0.pom
asm/asm/3.3.1/_remote.repositories
asm/asm/3.3.1/asm-3.3.1.pom
asm/asm-parent/3.3.1/_remote.repositories
asm/asm-parent/3.3.1/asm-parent-3.3.1.pom
backport-util-concurrent/backport-util-concurrent/3.1/_remote.repositories
backport-util-concurrent/backport-util-concurrent/3.1/backport-util-concurrent-3.1.pom
ch/qos/logback/logback-classic/1.2.3/_remote.repositories
ch/qos/logback/logback-classic/1.2.3/logback-classic-1.2.3.pom
ch/qos/logback/logback-core/1.2.3/_remote.repositories
ch/qos/logback/logback-core/1.2.3/logback-core-1.2.3.pom
ch/qos/logback/logback-parent/1.2.3/_remote.repositories
ch/qos/logback/logback-parent/1.2.3/logback-parent-1.2.3.pom
classworlds/classworlds/1.1/_remote.repositories
classworlds/classworlds/1.1/classworlds-1.1.pom
classworlds/classworlds/1.1-alpha-2/_remote.repositories
classworlds/classworlds/1.1-alpha-2/classworlds-1.1-alpha-2.pom
commons-io/commons-io/2.5/_remote.repositories
commons-io/commons-io/2.5/commons-io-2.5.pom
commons-io/commons-io/2.6/_remote.repositories
commons-io/commons-io/2.6/commons-io-2.6.pom
junit/junit/4.12/_remote.repositories
commons-codec/commons-codec/1.11/_remote.repositories
commons-io/*
commons-codec/*
commons-logging/commons-logging/1.2/_remote.repositories
commons-logging/*
junit/junit/3.8.1/_remote.repositories
junit/junit/3.8.1/junit-3.8.1.pom
